# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmakeu
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
.cmake
cmake-build-debug/
cmake_install.cmake

# CLion
.idea

# Executable
engine

# Clangd
compile_flags.txt

# Testing
*.bin
test/test_*
